<div class="calculadora">
  <input type="text" class="display" [value]="display" disabled />

  <div class="botoes">
    <button (click)="adicionar('7')">7</button>
    <button (click)="adicionar('8')">8</button>
    <button (click)="adicionar('9')">9</button>
    <button class="operador" (click)="adicionar('/')">/</button>

    <button (click)="adicionar('4')">4</button>
    <button (click)="adicionar('5')">5</button>
    <button (click)="adicionar('6')">6</button>
    <button class="operador" (click)="adicionar('*')">*</button>

    <button (click)="adicionar('1')">1</button>
    <button (click)="adicionar('2')">2</button>
    <button (click)="adicionar('3')">3</button>
    <button class="operador" (click)="adicionar('-')">-</button>

    <button class="zero" (click)="adicionar('0')">0</button>
    <button (click)="adicionar('.')">.</button>
    <button class="operador" (click)="adicionar('+')">+</button>

    <button (click)="limpar()">C</button>
    <button class="igual" (click)="calcular()">=</button>
  </div>
</div>